## Basic Data Exploration

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
data = pd.read_csv("student.csv")

In [4]:
data.head(10)

,Unnamed: 0,Student_ID,Learning_Track,Study_Hours_Per_Week,Performance_Score,Projects_Completed,Age,Prior_Programming_Experience_Yrs,Online_Courses_Completed
0,0,AIE_2024000,Traditional,95.058535,92.514050,12.0,30,0.131237,0
1,1,AIE_2024001,Accelerated,37.186831,70.156243,12.0,30,1.863695,3
2,2,AIE_2024002,Accelerated,38.323140,NaN,12.0,32,3.071151,8
3,3,AIE_2024003,Traditional,27.881352,90.623192,10.0,28,0.298920,2
4,4,AIE_2024004,Traditional,24.498567,81.461708,4.0,30,0.775986,1
5,5,AIE_2024005,Traditional,25.980044,93.681531,2.0,31,1.241782,1
6,6,AIE_2024006,Traditional,92.883167,58.144770,8.0,30,1.306246,5
7,7,AIE_2024007,Accelerated,42.114543,-7.746672,13.0,26,0.167271,3
8,8,AIE_2024008,Accelerated,38.902533,74.150912,16.0,23,6.883668,4
9,9,AIE_2024009,Accelerated,32.865274,76.385080,10.0,26,2.856132,3

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        500 non-null    int64
 1   Student_ID                        500 non-null    object
 2   Learning_Track                    500 non-null    object
 3   Study_Hours_Per_Week              474 non-null    float64
 4   Performance_Score                 481 non-null    float64
 5   Projects_Completed                483 non-null    float64
 6   Age                               500 non-null    int64
 7   Prior_Programming_Experience_Yrs  500 non-null    float64
 8   Online_Courses_Completed          500 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 35.3+ KB

In [6]:
data.describe()

,Unnamed: 0,Study_Hours_Per_Week,Performance_Score,Projects_Completed,Age,Prior_Programming_Experience_Yrs,Online_Courses_Completed
count,500.000000,474.000000,481.000000,483.000000,500.000000,500.000000,500.000000
mean,249.500000,31.929978,72.497669,11.014493,26.434000,1.788520,2.938000
std,144.481833,19.432986,18.055057,7.399520,4.874954,1.867475,1.655184
min,0.000000,0.000000,-9.276106,1.000000,18.000000,0.002475,0.000000
25%,124.750000,22.046598,64.687299,7.000000,22.000000,0.495720,2.000000
50%,249.500000,27.706396,73.583514,10.000000,26.000000,1.227495,3.000000
75%,374.250000,37.092870,82.721726,12.000000,31.000000,2.423013,4.000000
max,499.000000,118.414671,118.863496,49.000000,34.000000,11.775799,11.000000

In [7]:
data.columns

Index(['Unnamed: 0', 'Student_ID', 'Learning_Track', 'Study_Hours_Per_Week',
       'Performance_Score', 'Projects_Completed', 'Age',
       'Prior_Programming_Experience_Yrs', 'Online_Courses_Completed'],
      dtype='object')

In [ ]:
# data.drop('Unnamed: 0', axis=1, inplace= True)

In [9]:
data.columns

Index(['Unnamed: 0', 'Student_ID', 'Learning_Track', 'Study_Hours_Per_Week',
       'Performance_Score', 'Projects_Completed', 'Age',
       'Prior_Programming_Experience_Yrs', 'Online_Courses_Completed'],
      dtype='object')

In [10]:
#Number of students in each learning track
data.groupby("Learning_Track")['Student_ID'].nunique()

Learning_Track
Accelerated    207
Traditional    293
Name: Student_ID, dtype: int64

In [28]:
data.isna().sum()

Student_ID                          0
Learning_Track                      0
Study_Hours_Per_Week                0
Performance_Score                   0
Projects_Completed                  0
Age                                 0
Prior_Programming_Experience_Yrs    0
Online_Courses_Completed            0
dtype: int64

In [29]:
data.dtypes

Student_ID                           object
Learning_Track                       object
Study_Hours_Per_Week                float64
Performance_Score                   float64
Projects_Completed                  float64
Age                                   int64
Prior_Programming_Experience_Yrs    float64
Online_Courses_Completed              int64
dtype: object

In [13]:
data['Study_Hours_Per_Week'].fillna(data['Study_Hours_Per_Week'].mean(), inplace=True )

C:\Users\owner\AppData\Local\Temp\ipykernel_2068\765200214.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Study_Hours_Per_Week'].fillna(data['Study_Hours_Per_Week'].mean(), inplace=True )

In [16]:
data['Performance_Score'].fillna(np.mean(data['Performance_Score']), inplace=True)

C:\Users\owner\AppData\Local\Temp\ipykernel_2068\23995210.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Performance_Score'].fillna(np.mean(data['Performance_Score']), inplace=True)

In [18]:
data['Projects_Completed'].fillna(np.mean(data['Projects_Completed']), inplace=True)

C:\Users\owner\AppData\Local\Temp\ipykernel_2068\3197425202.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Projects_Completed'].fillna(np.mean(data['Projects_Completed']), inplace=True)

In [30]:
data.isna().sum()

Student_ID                          0
Learning_Track                      0
Study_Hours_Per_Week                0
Performance_Score                   0
Projects_Completed                  0
Age                                 0
Prior_Programming_Experience_Yrs    0
Online_Courses_Completed            0
dtype: int64

In [34]:
data.describe()

,Study_Hours_Per_Week,Performance_Score,Projects_Completed,Age,Prior_Programming_Experience_Yrs,Online_Courses_Completed
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,31.929978,72.497669,11.014493,26.434000,1.788520,2.938000
std,18.919944,17.707988,7.272384,4.874954,1.867475,1.655184
min,0.000000,-9.276106,1.000000,18.000000,0.002475,0.000000
25%,22.400790,65.175823,7.000000,22.000000,0.495720,2.000000
50%,28.771184,73.029570,10.000000,26.000000,1.227495,3.000000
75%,36.383680,82.173420,12.000000,31.000000,2.423013,4.000000
max,118.414671,118.863496,49.000000,34.000000,11.775799,11.000000

In [23]:
average = np.mean(data['Study_Hours_Per_Week'])
print(f'Average study hours: {average:.1f} hours')

Average study hours: 31.9 hours

In [ ]:
# data.groupby('Student_ID')[(data['Prior_Programming_Experience_Yrs']>3).sum()]

KeyError: 'Column not found: 90'