# Statistics

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
# import scipy.stats as stats

In [2]:
#Setting a random seed for reproducibility
np.random.seed(2)

In [3]:
#Simulating a dataset for AI Engineering students

#1. Traditional learning: classroom based
# Creating a 25 hours/week and standard deviation of 5 hours
traditional_study_hours = np.random.normal(25, 5, 100)

#2. Accelerated learning (project-based and hands-on style)
#This will be a 35 hours/week and a standard deviation 8 hours
accelerated_study_hours = np.random.normal(35, 8, 100) #this creates a normal distribution with the given datapoints

#Generating  corresponding performance scores between 0 - 100
#Letting the performance coorelate with study hours but has some randomness

traditional_scores = np.random.normal(75, 12, 100)
accelerated_scores = np.random.normal(35, 8, 100)

# Generating project completion counts
traditional_projects = np.random.poisson(8, 100)
accelerated_projects = np.random.poisson(12, 100)

In [4]:
#Creating a DataFrame

data = pd.DataFrame({
    "Study_Hours_Per_Week": np.concatenate([traditional_study_hours, accelerated_study_hours]),
    'Performance_Score': np.concatenate([traditional_scores, accelerated_scores]),
    "Projects_Completed": np.concatenate([traditional_projects, accelerated_projects]),
    "Learning_Track": ["Traditional"]*100 + ["Accelerated"]*100
})

In [5]:
data.head()

   Study_Hours_Per_Week  Performance_Score  Projects_Completed Learning_Track
0             22.916211          61.187965                   7    Traditional
1             24.718666          69.881730                  12    Traditional
2             14.319020          73.222234                   7    Traditional
3             33.201354          93.017243                   6    Traditional
4             16.032822          85.435178                   8    Traditional