# Analyzing Chicago Crime

In [3]:
# import gdown

In [4]:
url = "https://drive.google.com/file/d/1daS25XdX4s7fn7b2GEEme7iDBeN4c9E_/view?usp=drive_link"
id = "1daS25XdX4s7fn7b2GEEme7iDBeN4c9E_"

## Dataset Setup and Loading

In [5]:
#Importing the necessary libraries

#libraries for data wrangling
import pandas as pd
import numpy as np

#libraries for visualization
import matplotlib.pyplot as plt
# import seaborn as sns

#libraries for time
from datetime import datetime, timedelta

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

#set up views
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [6]:
#Loading the data

#Couldn't load due to low memory
data_path = r"archive.zip"
df = pd.read_csv(data_path, low_memory=True, compression='zip') #how to load zipped csv files
df.tail()

               ID Case Number                    Date                Block  IUCR        Primary Type                    Description             Location Description  Arrest  Domestic  Beat  District  Ward  Community Area FBI Code  X Coordinate  Y Coordinate  Year              Updated On   Latitude  Longitude                       Location
7784659  12847575    JF420478  09/01/2022 05:00:00 AM      005XX W SURF ST  2825       OTHER OFFENSE        HARASSMENT BY TELEPHONE                        RESIDENCE   False      True  1934      19.0  44.0             6.0       26     1172497.0     1919410.0  2022  01/03/2023 03:46:28 PM  41.934305 -87.641485  (41.934304581, -87.641484982)
7784660  12847801    JF420319  07/08/2022 12:00:00 AM  114XX S PRAIRIE AVE  1130  DECEPTIVE PRACTICE       FRAUD OR CONFIDENCE GAME                           STREET   False     False   531       5.0   9.0            49.0       11     1179966.0     1828818.0  2022  01/03/2023 03:46:28 PM  41.685544 -87.616813  (41.685543881, -87.616812541)
7784661  12847324    JF420102  09/27/2022 11:00:00 AM      023XX E 70TH ST  0810               THEFT                      OVER $500                        RESIDENCE   False     False   331       3.0   5.0            43.0       06     1193181.0     1859005.0  2022  01/03/2023 03:46:28 PM  41.768068 -87.567453  (41.768068052, -87.567452932)
7784662  12847570    JF420427  09/03/2022 10:25:00 AM   052XX W CARMEN AVE  2021           NARCOTICS         POSSESS - BARBITURATES  RESIDENCE - YARD (FRONT / BACK)    True     False  1623      16.0  45.0            11.0       18     1140553.0     1933418.0  2022  01/03/2023 03:46:28 PM  41.973391 -87.758535  (41.973391184, -87.758534512)
7784663  12840464    JF411839  09/26/2022 07:20:00 PM    0000X N MASON AVE  143A   WEAPONS VIOLATION  UNLAWFUL POSSESSION - HANDGUN                         SIDEWALK    True     False  1513      15.0  29.0            25.0       15     1136773.0     1899652.0  2022  01/03/2023 03:46:28 PM  41.880802 -87.773246  (41.880802263, -87.773245737)

In [9]:
# Writing a function to load the full dataset or just specified samples

def load_chicago_crime_data(data_path, sample_size=None):
    """
    Optimized loading function for Chicago crime data
    """
    #Defining data types to reduce memory usage
    dtype_dict = {
        "ID": "Int32",
        "Case Number": "string",
        "IUCR": "category",
        'Description': 'category',
        'Location Description': 'category',
        'Arrest': 'bool',
        'Domestic': 'bool',
        'Beat': 'Int16',
        'District': 'Int8',
        'Ward': 'Int8',
        'Community Area': 'Int8',
        'FBI Code': 'category',
        'X Coordinate': 'float32',
        'Y Coordinate': 'float32',
        'Latitude': 'float32',
        'Longitude': 'float32'
    }

    #parse dates during loading
    date_cols = ['Date', 'Updated On']

    if sample_size:
        #Load random sample for faster analysis
        df = pd.read_csv(data_path,
                          dtype=dtype_dict,
                          parse_dates=date_cols,
                          low_memory=False, keep_default_na=True,
                          nrows = sample_size)
    else:
        df = pd.read_csv(data_path, dtype=dtype_dict,
                         parse_dates=date_cols,
                         low_memory=False, keep_default_na=True)
    
    return df

In [ ]:
# df = load_chicago_crime_data('archive.zip', sample_size=100000)

In [12]:
df.tail()

             ID Case Number                Date                  Block  IUCR         Primary Type              Description            Location Description  Arrest  Domestic  Beat  District  Ward  Community Area FBI Code  X Coordinate  Y Coordinate  Year          Updated On   Latitude  Longitude                       Location
99995  10215495    HY401397 2015-08-28 22:10:00   031XX W LAWRENCE AVE  0486              BATTERY  DOMESTIC BATTERY SIMPLE  PARKING LOT/GARAGE(NON.RESID.)   False      True  1713        17    33              14      08B     1154394.0     1931719.0  2015 2018-02-10 15:50:01  41.968464 -87.707680  (41.968462913, -87.707683157)
99996  10215496    HY401545 2015-08-29 01:36:00     044XX N SAWYER AVE  0460              BATTERY                   SIMPLE                          STREET   False     False  1724        17    33              14      08B     1153919.0     1929328.0  2015 2018-02-10 15:50:01  41.961910 -87.709496  (41.961911365, -87.709493728)
99997  10215497    HY401614 2015-08-29 03:52:00     037XX W LELAND AVE  1310      CRIMINAL DAMAGE              TO PROPERTY                       APARTMENT   False     False  1723        17    39              14       14     1150607.0     1930973.0  2015 2018-02-10 15:50:01  41.966492 -87.721626   (41.96649088, -87.721627447)
99998  10215498    HY401663 2015-08-29 05:10:00    032XX N KIMBALL AVE  0880                THEFT          PURSE-SNATCHING                      RESTAURANT   False     False  1732        17    35              21       06     1153154.0     1921288.0  2015 2018-02-10 15:50:01  41.939865 -87.712517  (41.939864288, -87.712520442)
99999  10215499    HY401688 2015-08-29 01:00:00  011XX W GARFIELD BLVD  0910  MOTOR VEHICLE THEFT               AUTOMOBILE                          STREET   False     False   712         7    16              68       07     1169805.0     1868195.0  2015 2018-02-10 15:50:01  41.793827 -87.652870  (41.793825753, -87.652869806)

In [13]:
#Simulating the dataset
import numpy as np

#Setting seed for reproducibility
np.random.seed(234) #this initializes a pseudorandom number generator

In [20]:
#Writing a function to create a simulated dataset
def simulated_crime_data(n_records = 10000):

    #Crime types based on actual Chicago data
    crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 
                   'ASSAULT', 'BURGLARY', 'MOTOR VEHICLE THEFT', 'ROBBERY',
                   'DECEPTIVE PRACTICE', 'CRIMINAL TRESPASS']
    
    locations = ['STREET', 'RESIDENCE', 'APARTMENT', 'SIDEWALK', 'PARKING LOT',
                'RETAIL STORE', 'SCHOOL', 'RESTAURANT', 'VEHICLE', 'OFFICE']
    
    # Generate sample data
    data = {
        'ID': range(1, n_records + 1),
        'Date': pd.date_range('2020-01-01', '2024-12-31', periods=n_records),
        'Primary Type': np.random.choice(crime_types, n_records, p=[0.25, 0.15, 0.12, 0.10, 0.08, 0.08, 0.07, 0.05, 0.05, 0.05]),
        'Location Description': np.random.choice(locations, n_records),
        'Arrest': np.random.choice([True, False], n_records, p =[0.2, 0.8]),
        'Domestic': np.random.choice([True, False], n_records, p=[0.1, 0.9]),
        'District': np.random.randint(1,26, n_records),
        'Ward': np.random.randint(1,51, n_records),
        'Community Area': np.random.randint(1,78, n_records),
        'Latitude': np.random.uniform(41.6, 42.1, n_records), #numbers are uniformly generated from the interval provided
        'Longitude': np.random.uniform(-87.9, -87.5, n_records)
        }
    return pd.DataFrame(data)

In [22]:
simulated = simulated_crime_data(50000)
print(f"This dataset has {len(simulated)} records")
print(f"This dataset has {len(df)} records")
simulated.head()

This dataset has 50000 records
This dataset has 100000 records

   ID                          Date         Primary Type Location Description  Arrest  Domestic  District  Ward  Community Area   Latitude  Longitude
0   1 2020-01-01 00:00:00.000000000  MOTOR VEHICLE THEFT           RESTAURANT   False     False        19    26              30  41.821700 -87.709252
1   2 2020-01-01 00:52:35.391107822                THEFT         RETAIL STORE   False     False         2    21              36  41.791732 -87.883408
2   3 2020-01-01 01:45:10.782215644              BATTERY             SIDEWALK    True     False        20    17              74  42.076569 -87.865984
3   4 2020-01-01 02:37:46.173323466            NARCOTICS               SCHOOL   False     False        17    31              31  41.736011 -87.855017
4   5 2020-01-01 03:30:21.564431288              BATTERY            RESIDENCE   False     False        21    28              20  41.895187 -87.824708

## Preliminary Data Analysis (PDA)

In [26]:
#Using the origin dataset df

print("=== DATASET OVERVIEW")
print(f"Dataset Shape: {df.shape}")
print(f"Memory Usage: {df.memory_usage(deep=True).sum()/1024**2:2f} MB")

print(f"\n=== COLUMN INFORMATION ===")
print(f"List of columns: {df.columns}\n")

=== DATASET OVERVIEW
Dataset Shape: (100000, 22)
Memory Usage: 30.820737 MB

=== COLUMN INFORMATION ===
List of columns: Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude', 'Location'], dtype='object')

In [27]:
print(f"Column details:{df.info()}")
print("\n=== FIRST AND LAST 5 RECORDS ===")
print(df.head())
print("")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    100000 non-null  Int32
 1   Case Number           100000 non-null  string
 2   Date                  100000 non-null  datetime64[ns]
 3   Block                 100000 non-null  object
 4   IUCR                  100000 non-null  category
 5   Primary Type          100000 non-null  object
 6   Description           100000 non-null  category
 7   Location Description  99729 non-null   category
 8   Arrest                100000 non-null  bool
 9   Domestic              100000 non-null  bool
 10  Beat                  100000 non-null  Int16
 11  District              100000 non-null  Int8
 12  Ward                  99996 non-null   Int8
 13  Community Area        99996 non-null   Int8
 14  FBI Code              100000 non-null  category
 15  X Coordinate          97769 non-null   float32
 16  Y Coordinate          97769 non-null   float32
 17  Year                  100000 non-null  int64
 18  Updated On            100000 non-null  datetime64[ns]
 19  Latitude              97769 non-null   float32
 20  Longitude             97769 non-null   float32
 21  Location              97769 non-null   object
dtypes: Int16(1), Int32(1), Int8(3), bool(2), category(4), datetime64[ns](2), float32(4), int64(1), object(3), string(1)
memory usage: 9.0+ MB
Column details:None

=== FIRST AND LAST 5 RECORDS ===
         ID Case Number                Date                  Block  IUCR Primary Type              Description Location Description  Arrest  Domestic  Beat  District  Ward  Community Area FBI Code  X Coordinate  Y Coordinate  Year          Updated On   Latitude  Longitude                       Location
0  10224738    HY411648 2015-09-05 13:30:00        043XX S WOOD ST  0486      BATTERY  DOMESTIC BATTERY SIMPLE            RESIDENCE   False      True   924         9    12              61      08B     1165074.0     1875917.0  2015 2018-02-10 15:50:01  41.815117 -87.669998  (41.815117282, -87.669999562)
1  10224739    HY411615 2015-09-04 11:30:00    008XX N CENTRAL AVE  0870        THEFT           POCKET-PICKING              CTA BUS   False     False  1511        15    29              25       06     1138875.0     1904869.0  2015 2018-02-10 15:50:01  41.895081 -87.765404  (41.895080471, -87.765400451)
2  11646166    JC213529 2018-09-01 00:01:00  082XX S INGLESIDE AVE  0810        THEFT                OVER $500            RESIDENCE   False      True   631         6     8              44       06           NaN           NaN  2018 2019-04-06 16:04:43        NaN        NaN                            NaN
3  10224740    HY411595 2015-09-05 12:45:00      035XX W BARRY AVE  2023    NARCOTICS    POSS: HEROIN(BRN/TAN)             SIDEWALK    True     False  1412        14    35              21       18     1152037.0     1920384.0  2015 2018-02-10 15:50:01  41.937405 -87.716652  (41.937405765, -87.716649687)
4  10224741    HY411610 2015-09-05 13:00:00    0000X N LARAMIE AVE  0560      ASSAULT                   SIMPLE            APARTMENT   False      True  1522        15    28              25      08A     1141706.0     1900086.0  2015 2018-02-10 15:50:01  41.881905 -87.755119  (41.881903443, -87.755121152)

In [28]:
print(df.tail())

print("\n=== BASIC STATISTICS ===")
print(df.describe(include='all'))

             ID Case Number                Date                  Block  IUCR         Primary Type              Description            Location Description  Arrest  Domestic  Beat  District  Ward  Community Area FBI Code  X Coordinate  Y Coordinate  Year          Updated On   Latitude  Longitude                       Location
99995  10215495    HY401397 2015-08-28 22:10:00   031XX W LAWRENCE AVE  0486              BATTERY  DOMESTIC BATTERY SIMPLE  PARKING LOT/GARAGE(NON.RESID.)   False      True  1713        17    33              14      08B     1154394.0     1931719.0  2015 2018-02-10 15:50:01  41.968464 -87.707680  (41.968462913, -87.707683157)
99996  10215496    HY401545 2015-08-29 01:36:00     044XX N SAWYER AVE  0460              BATTERY                   SIMPLE                          STREET   False     False  1724        17    33              14      08B     1153919.0     1929328.0  2015 2018-02-10 15:50:01  41.961910 -87.709496  (41.961911365, -87.709493728)
99997  10215497    HY401614 2015-08-29 03:52:00     037XX W LELAND AVE  1310      CRIMINAL DAMAGE              TO PROPERTY                       APARTMENT   False     False  1723        17    39              14       14     1150607.0     1930973.0  2015 2018-02-10 15:50:01  41.966492 -87.721626   (41.96649088, -87.721627447)
99998  10215498    HY401663 2015-08-29 05:10:00    032XX N KIMBALL AVE  0880                THEFT          PURSE-SNATCHING                      RESTAURANT   False     False  1732        17    35              21       06     1153154.0     1921288.0  2015 2018-02-10 15:50:01  41.939865 -87.712517  (41.939864288, -87.712520442)
99999  10215499    HY401688 2015-08-29 01:00:00  011XX W GARFIELD BLVD  0910  MOTOR VEHICLE THEFT               AUTOMOBILE                          STREET   False     False   712         7    16              68       07     1169805.0     1868195.0  2015 2018-02-10 15:50:01  41.793827 -87.652870  (41.793825753, -87.652869806)

=== BASIC STATISTICS ===
                    ID Case Number                           Date             Block    IUCR Primary Type Description Location Description  Arrest Domestic        Beat  District       Ward  Community Area FBI Code  X Coordinate  Y Coordinate           Year                     Updated On      Latitude     Longitude                       Location
count         100000.0      100000                         100000            100000  100000       100000      100000                99729  100000   100000    100000.0  100000.0    99996.0         99996.0   100000  9.776900e+04  9.776900e+04  100000.000000                         100000  97769.000000  97769.000000                          97769
unique            <NA>      100000                            NaN             22305     307           33         322                  118       2        2        <NA>      <NA>       <NA>            <NA>       25           NaN           NaN            NaN                            NaN           NaN           NaN                          64174
top               <NA>    HY411648                            NaN  001XX N STATE ST    0820        THEFT      SIMPLE               STREET   False    False        <NA>      <NA>       <NA>            <NA>       06           NaN           NaN            NaN                            NaN           NaN           NaN  (41.883500187, -87.627876698)
freq              <NA>           1                            NaN               282    9379        22272       10025                22462   75593    84463        <NA>      <NA>       <NA>            <NA>    22272           NaN           NaN            NaN                            NaN           NaN           NaN                            172
mean    10281721.97761         NaN  2015-10-04 20:21:56.351189760               NaN     NaN          NaN         NaN                  NaN     NaN      NaN  1142.52224  11.19644  22.884705       37.358794      NaN  1.164595e+06  1.885793e+06    2015.056360  2018-01-03 19:29:18.752419840     41.842213    -87.671532                            NaN
min          1744168.0         NaN            2001-01-01 00:00:00               NaN     NaN          NaN         NaN                  NaN     NaN      NaN       111.0       1.0        1.0             1.0      NaN  1.094231e+06  1.813910e+06    2001.000000            2015-08-17 15:03:40     41.644604    -87.928909                            NaN
25%        10195928.75         NaN            2015-08-11 10:21:15               NaN     NaN          NaN         NaN                  NaN     NaN      NaN       612.0       6.0       10.0            23.0      NaN  1.152702e+06  1.858866e+06    2015.000000            2018-02-10 15:50:01     41.768112    -87.714691                            NaN
50%         10249263.5         NaN            2015-09-20 22:00:00               NaN     NaN          NaN         NaN                  NaN     NaN      NaN      1023.0      10.0       23.0            32.0      NaN  1.166246e+06  1.891648e+06    2015.000000            2018-02-10 15:50:01     41.858459    -87.665428                            NaN
75%         10292695.5         NaN            2015-10-26 01:04:45               NaN     NaN          NaN         NaN                  NaN     NaN      NaN      1711.0      17.0       34.0            56.0      NaN  1.176405e+06  1.908601e+06    2015.000000            2018-02-10 15:50:01     41.904911    -87.627930                            NaN
max         12602803.0         NaN            2021-12-19 07:23:00               NaN     NaN          NaN         NaN                  NaN     NaN      NaN      2535.0      31.0       50.0            77.0      NaN  1.205111e+06  1.951507e+06    2021.000000            2023-01-03 15:46:28     42.022549    -87.524612                            NaN
std      258763.346522         NaN                            NaN               NaN     NaN          NaN         NaN                  NaN     NaN      NaN   693.46334  6.928428  13.906476       21.422911      NaN  1.635851e+04  3.112527e+04       0.661822                            NaN      0.085604      0.059546                            NaN

### **Missing Data Analysis**

In [30]:
def analyze_missing_data(df):
    """Analyzed missing data patterns"""

    missing_data = pd.DataFrame({
        'Column': df.columns,
        'Missing_Count': df.isnull().sum(),
        'Missing_Percentage': (df.isnull().sum()/len(df))*100,
        'Data_Type': df.types
    })